#hero{
    background-color: #eaebec;
}


.h-left{
    padding: 15em 0rem ;
    h1{
     color: #0b1c39;
     font-size: 96px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 26px;
    }
    button{
        margin-top: 5rem;
        background-color: #4a4a4b;
        color: white;
        text-transform: uppercase;
        border: none;
    }
    
}

.hero{
    max-width: 90%;
    margin: 0 auto;
}